#**OTT 서비스 (추천)**

In [1]:
import pandas as pd
import numpy as np
import re
import urllib.request

In [2]:
!pip install plotly

Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (4.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from plotly) (1.15.0)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.7/dist-packages (from plotly) (1.3.3)

##**데이터 전처리**

In [3]:
#데이터 다운로드
urllib.request.urlretrieve("https://raw.githubusercontent.com/world970511/elice_OTT/master/dataset/kinolight_all_data.csv",
                        filename="OTT.csv")
data = pd.read_csv('OTT.csv',encoding='utf-8')
data.info

<bound method DataFrame.info of                                     title  ...                      provider
0                  고요의 바다(The Silent Sea)  ...                      ['넷플릭스']
1                    돈 룩 업(Don't Look Up)  ...                      ['넷플릭스']
2                           설강화(Snowdrop)  ...                      ['디즈니+']
3                     나 홀로 집에(Home Alone)  ...                      ['디즈니+']
4                        매트릭스(The Matrix)  ...  ['웨이브', '티빙', '왓챠', '쿠팡플레이']
...                                   ...  ...                           ...
27311  미니의 리본 가게 시즌 3(Minnie's Bow-Toons)  ...                      ['디즈니+']
27312         만능 수리공 매니 시즌 1(Handy Manny)  ...                      ['디즈니+']
27313         만능 수리공 매니 시즌 2(Handy Manny)  ...                      ['디즈니+']
27314          아기를 부탁해! 토츠 시즌 2(T.O.T.S.)  ...                      ['디즈니+']
27315            실험실의 비밀친구 시즌 3(Lab Rats)  ...                      ['디즈니+']

[27316 rows x 10 columns]>

In [4]:
#중복제거 및 기타 제거
li=['genre','country','cast','director','provider',]

for i in li:
  data[i]=data[i].apply(lambda x:re.sub(r'\([^)]*\)', '',x.replace('[','').replace(']','').replace("'",'').replace("'",'')))
  data[i]=data[i].apply(lambda x:re.sub(r' ', '',x))
  data[i]=data[i].apply(lambda x: ' '.join(set(x.strip().split(','))))

data.head(5)

                    title    year  ... runtime(min)         provider
0  고요의 바다(The Silent Sea)  2021.0  ...          NaN             넷플릭스
1    돈 룩 업(Don't Look Up)  2021.0  ...        139.0             넷플릭스
2           설강화(Snowdrop)  2021.0  ...          NaN             디즈니+
3     나 홀로 집에(Home Alone)  1990.0  ...        105.0             디즈니+
4        매트릭스(The Matrix)  1999.0  ...        136.0  티빙 웨이브 왓챠 쿠팡플레이

[5 rows x 10 columns]

In [5]:
#불필요한 행 제거
data= data[data['title']!='title']

#년도 정수형으로 변경
data['year']=data['year'].astype('float').astype('Int64')

#제작미정,시사/교양,기타(장르가 아니라 country로 가있음;;) 정리
# 제작미정인 경우 풀릴 예정인 곳과 아닌 곳이 있고 양이 너무 많아서 그냥 장르로 변경함
def r_ch(s,i):
  li=s.split(',')
  if i in li: 
    li.remove(i)
  return ','.join (li)


def add_ch(s,i):
  li=s.split(' ')
  if i not in li: li+=[i]
  return ' '.join (li)

li=['미정','시사/교양','기타']
for i in li:
    d=data.loc[data["country"].str.contains(i)]
    data=data.loc[data["country"].str.contains(i)==False]

    d['country']=d['country'].apply(lambda x:r_ch(x,i))
    d['genre']=d['genre'].apply(lambda x:add_ch(x,i))

    data=pd.concat([data,d])

data

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

                                                   title  ...         provider
0                                 고요의 바다(The Silent Sea)  ...             넷플릭스
1                                   돈 룩 업(Don't Look Up)  ...             넷플릭스
2                                          설강화(Snowdrop)  ...             디즈니+
3                                    나 홀로 집에(Home Alone)  ...             디즈니+
4                                       매트릭스(The Matrix)  ...  티빙 웨이브 왓챠 쿠팡플레이
...                                                  ...  ...              ...
24575  셜록홈즈의 악마의 조력자들(Sherlock Holmes - Hands of a Mu...  ...            티빙 왓챠
25022                                         JOB룡 이십끼()  ...           웨이브 왓챠
26598      빌로우 덱: 지중해의 요티 시즌 2(Below Deck Mediterranean)  ...             넷플릭스
23607                               쉘위워크(Shall We Walk?)  ...               티빙
23686                                      TV정보쇼 오!아시스()  ...               티빙

[27301 rows x 10 columns]

In [8]:
#독점 및 오리지널 표시 및 필요한 provider데이터 외에 드랍

##필요한 provider외에 나머지 드랍
remove_provider_list=['네이버시리즈온', 'GooglePlay무비', '씨네폭스','아마존프라임비디오','AppleTV+']
n_data=pd.DataFrame(columns=['title',	'year',	'kind',	'KMRB',	'genre',	'country',	'cast',	'director',	'runtime(min)',	'provider'])
for i in remove_provider_list:
  data['provider']=data['provider'].apply(lambda x: x.replace(i,''))

data['provider'].dropna()

#provider 리스트 전환
data['provider']=data['provider'].apply(lambda x: x.split(','))

#독점 여부
data.loc[:,'origin']=data['provider'].apply(lambda x: True if len(x)==1 else False)

#provider 다시 문자열 전환
data['provider']=data['provider'].apply(lambda x: ','.join(x))

data.to_csv('/content/drive/MyDrive/csv파일/all_DATA_ processing.csv',mode='w', index=False)
data.head(5)

                    title  year   kind  ... runtime(min)         provider origin
0  고요의 바다(The Silent Sea)  2021     TV  ...          NaN             넷플릭스   True
1    돈 룩 업(Don't Look Up)  2021  movie  ...        139.0             넷플릭스   True
2           설강화(Snowdrop)  2021     TV  ...          NaN             디즈니+   True
3     나 홀로 집에(Home Alone)  1990  movie  ...        105.0             디즈니+   True
4        매트릭스(The Matrix)  1999  movie  ...        136.0  티빙 웨이브 왓챠 쿠팡플레이   True

[5 rows x 11 columns]

In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

##**추천**

In [9]:
import pandas as pd
import numpy as np
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

####TF-IDF 벡터화 
전처리한 데이터를 TF-IDF 방법을 이용해 벡터로 변경

장르/국가/종류를 하나로 합친 후 tfidf vector화.

https://github.com/lsjsj92/recommender_system_with_Python/blob/master/002.%20recommender%20system%20basic%20with%20Python%20-%201%20content%20based%20filtering.ipynb 참고

In [10]:
tfidf_vector = TfidfVectorizer()
tfidf_matrix = tfidf_vector.fit_transform(+data['genre'] + " " + data['country']).toarray()
tfidf_matrix_feature = tfidf_vector.get_feature_names()
tfidf_matrix.shape

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

(27301, 149)

In [11]:
tfidf_matrix = pd.DataFrame(tfidf_matrix, columns=tfidf_matrix_feature, index = data.title)
print(tfidf_matrix.shape)
tfidf_matrix.head()

(27301, 149)

                              sf   가나        가족   공연  ...        한국  헝가리   호주   홍콩
title                                                 ...
고요의 바다(The Silent Sea)  0.725652  0.0  0.000000  0.0  ...  0.403121  0.0  0.0  0.0
돈 룩 업(Don't Look Up)    0.000000  0.0  0.000000  0.0  ...  0.000000  0.0  0.0  0.0
설강화(Snowdrop)           0.000000  0.0  0.000000  0.0  ...  0.774514  0.0  0.0  0.0
나 홀로 집에(Home Alone)     0.000000  0.0  0.644745  0.0  ...  0.000000  0.0  0.0  0.0
매트릭스(The Matrix)        0.757480  0.0  0.000000  0.0  ...  0.000000  0.0  0.0  0.0

[5 rows x 149 columns]

####유사도
tf-idf vector를 코사인 유사도를 활용해서 유사도 값을 구하기

In [12]:
%%time
cosine_sim = cosine_similarity(tfidf_matrix)

CPU times: user 11.3 s, sys: 2.44 s, total: 13.8 s
Wall time: 13.4 s

In [13]:
cosine_sim.shape

(27301, 27301)

In [14]:
cosine_sim_df = pd.DataFrame(cosine_sim, index = data.title, columns = data.title)
print(cosine_sim_df.shape)
cosine_sim_df.head()

(27301, 27301)

title                   고요의 바다(The Silent Sea)  ...  TV정보쇼 오!아시스()
title                                           ...
고요의 바다(The Silent Sea)                1.000000  ...       0.040644
돈 룩 업(Don't Look Up)                  0.000000  ...       0.000000
설강화(Snowdrop)                         0.312223  ...       0.078089
나 홀로 집에(Home Alone)                   0.000000  ...       0.000000
매트릭스(The Matrix)                      0.549667  ...       0.000000

[5 rows x 27301 columns]

####CBF
선택한 영화 제목에 따라서 코사인 유사도를 구한 matrix에서 유사도 데이터를 바탕으로 가장 유사도 값이 큰 데이터를 가져옴

In [15]:
def recommendations(target_title, matrix, items):
    recom_idx = matrix.loc[:, target_title].values.reshape(1, -1).argsort()[:, ::-1].flatten()[1:100+1]
    recom_title = items.iloc[recom_idx, :].title.values
    recom_kind = items.iloc[recom_idx, :].kind.values
    recom_genre = items.iloc[recom_idx, :].genre.values
    recom_country = items.iloc[recom_idx, :].country.values
    recom_provider = items.iloc[recom_idx, :].provider.values

    target_title_list = np.full(len(range(100)), target_title)
    target_genre_list = np.full(len(range(100)), items[items.title == target_title].genre.values)
    
    d = {
        'recom_title' : recom_title,
        'recom_kind':recom_kind,
        'recom_genre' : recom_genre,
        'recom_country':recom_country,
        'recom_provider':recom_provider
    }
    return pd.DataFrame(d)

In [16]:
data.loc[data['title']=='스파이더맨: 파 프롬 홈(Spider-Man: Far From Home)']

                                       title  year  ...       provider origin
11  스파이더맨: 파 프롬 홈(Spider-Man: Far From Home)  2019  ...  seezn 왓챠 넷플릭스   True

[1 rows x 11 columns]

In [22]:
d=recommendations('스파이더맨: 파 프롬 홈(Spider-Man: Far From Home)', cosine_sim_df, data)
d.head(10)

                                    recom_title  ...   recom_provider
0                   림 오브 더 월드(Rim of the World)  ...             넷플릭스
1      스파이더맨: 파 프롬 홈(Spider-Man: Far From Home)  ...    seezn 왓챠 넷플릭스
2                      혹성탈출(Planet Of The Apes)  ...             디즈니+
3                              맥스 스틸(Max Steel)  ...               왓챠
4  트랜스포머: 최후의 기사(Transformers: The Last Knight)  ...             넷플릭스
5                            타임 어게인(Time Again)  ...           웨이브 왓챠
6           스파이더맨: 홈 커밍(Spider-Man: Homecoming)  ...    쿠팡플레이 왓챠 넷플릭스
7       트랜스포머 3(Transformers: Dark Of The Moon)  ...  넷플릭스 티빙 웨이브  왓챠
8                                  헬보이(Hellboy)  ...     웨이브 왓챠 쿠팡플레이
9                           애프터 어스(After Earth)  ...             넷플릭스

[10 rows x 5 columns]

####추가 test-CF(Matrix Factorization)

In [18]:
#사용자 선호 데이터 - 10개에 대한 데이터를 받았다고 가정
title = ['스파이더맨: 파 프롬 홈(Spider-Man: Far From Home)','나 홀로 집에(Home Alone)',
               '매트릭스(The Matrix)','옷소매 붉은 끝동(The Red Sleeve)',
               '귀멸의 칼날: 환락의 거리편(Demon Slayer: Kimetsu no Yaiba Yuukaku-hen)',
               '러브 레터(Love Letter)','술꾼도시여자들(Work Later Drink Now)',
               '오징어 게임(Squid Game)','그녀(Her)','응답하라 1988(Reply 1988)']

li=[]
user=pd.DataFrame(columns=['user','title','year','kind','KMRB','genre','country','cast','director','runtime(min)','provider','origin','rating'])
for i in title:
  u=['나은']
  u+= data.loc[data['title']==i].values.tolist()[0]
  u.append(5.0)
  user.loc[len(user)] = u

user

  user                                              title  ... origin rating
0   나은           스파이더맨: 파 프롬 홈(Spider-Man: Far From Home)  ...   True    5.0
1   나은                                나 홀로 집에(Home Alone)  ...   True    5.0
2   나은                                   매트릭스(The Matrix)  ...   True    5.0
3   나은                          옷소매 붉은 끝동(The Red Sleeve)  ...   True    5.0
4   나은  귀멸의 칼날: 환락의 거리편(Demon Slayer: Kimetsu no Yaiba...  ...   True    5.0
5   나은                                 러브 레터(Love Letter)  ...   True    5.0
6   나은                      술꾼도시여자들(Work Later Drink Now)  ...   True    5.0
7   나은                                 오징어 게임(Squid Game)  ...   True    5.0
8   나은                                            그녀(Her)  ...   True    5.0
9   나은                              응답하라 1988(Reply 1988)  ...   True    5.0

[10 rows x 13 columns]